@import "./library";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $roboto;
}

body {
  background-color: $gray2;
}

a {
  text-decoration: none;
  color: $gray;
}

svg,
button {
  cursor: pointer;
}
